.container-left {
    display: flex;
    margin-left: 250px;
}

@font-face {
  font-family: "helve-bold", sans-serif;
  src: url("/fonts/FontsFree-Net-HelveticaNeueBold.ttf");
}

@font-face {
  font-family: "helve-medium", sans-serif;
  src: url("/fonts/FontsFree-Net-HelveticaNeueMedium.ttf");
}

@font-face {
  font-family: "helve-light", sans-serif;
  src: url("/fonts/FontsFree-Net-HelveticaNeueUltraLight.ttf");
}

@font-face {
  font-family: "gotham-bold", sans-serif;
  src: url("/fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "gotham-rounded", sans-serif;
  src: url("/fonts/Gotham-Rounded-Light_21020.ttf");
}

.first-header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.icon-color {
  color: #d35266;
}

.header-text-color {
  color: #888;
}

.header-items {
  margin-right: 3rem;
}

.text-format {
  font-family: "gotham-bold", sans-serif;
  color: white;
  font-weight: 700;
}

.header-two {
  background-color: #d35266;
  color: white;
  font-weight: 500;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-two .header-font {
  font-family: "gotham-bold", sans-serif;
}

.header-two .header-font-2 {
  font-weight: 500;
}

.header-two .form-font {
  font-family: "helve-medium", sans-serif;
}

.input-space {
  border: 2px solid #d35266;
}

.border-rad {
  border-radius: 0;
  border: none;
  padding: 7px;
  margin-right: 2px;
}

.input-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.search-button {
  background-color: #383838;
  border: none;
  margin-top: 10px;
  padding: 7px;
  padding-right: 1px;
}

.nav-image {
  width: 50px;
}

.hot-deals {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hot-deal {
  color: #383838;
  font-weight: 700;
}

.p-hot-deals {
  color: #d35266;
  font-family: "helve-medium", sans-serif;
  margin-top: 0.5rem;
}

.hot-deals-text {
  font-family: "gotham-rounded", sans-serif;
}

.hot-deals-button {
  background-color: #d35266;
  color: white;
  border-radius: 5%;
  border: none;
  margin-right: 1px;
  font-family: "gotham-rounded", sans-serif;
}

.button-padding {
  padding-bottom: 1rem;
}

.section-formatting {
  background-color: #f8f8f8;
  font-family: "gotham-rounded", sans-serif;
}

.card-space {
  margin: 1rem 0.5rem;
}

.card-font {
  font-family: "gotham-light", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}

.add-info {
  font-weight: 600;
  color: #d35266;
}

.add-info,
.section-three-font,
footer {
  font-family: "helve-medium", sans-serif;
}

.checkbox-font,
.results-font {
  font-family: "gotham-light", sans-serif;
}

.price-button {
  background-color: #d35266;
  border-radius: 5%;
  font-weight: 600;
}

.search-font {
  font-family: "gotham-medium", sans-serif;
  font-size: 0.9em;
  color: #383838;
}

.search-head {
  font-weight: 600;
}

.category-text {
  color: #d35266;
  font-weight: 600;
}

.item-left {
  margin-right: 10%;
}

.item-right {
  margin-left: 10%;
}

.arrow-position {
  position: relative;
}

.arrow-left {
  position: absolute;
  top: 30%;
  left: 1px;
}

.arrow-right {
  position: absolute;
  top: 30%;
  right: 1px;
}

@media screen and (max-width: 767px) {
  .header-two {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .img-resp {
    min-width: 100px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .img-resp img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header-two {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .arrows {
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
  }

  .section-1 {
    border-right: 1px solid #888;
  }

  .input-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .search-button {
    margin-left: 5px;
  }
}
